# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Dash / Plotly
.dash_cache/

# Docker
*.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# OpenPLC build artifacts
*.exe
*.dll
*.so
openplc_db/
